- site.canonical = false
- site.shownav = true
- site.mode = 'index'

article#post
  h1
    a(href=`/${post.htmlPath()}` title=`Permanent link to ‘${post.title()}’`)
      | #{post.title()}
  time(datetime=post.time())
    | #{post.date()}
  | !{post.content()}
