- site.canonical = `${site.url}/${page.htmlPath()}`
- site.shownav = false
- site.mode = 'page'

article#page
  h1
    a(href=`/${page.htmlPath()}` title=`Permanent link to ‘${page.title()}’`)
      | #{page.title()}
  if page.attributes.starting
    time #{post.attributes.starting} - #{new Date().getFullYear()}
  | !{page.content()}