doctype html
html
  head
    link(rel="stylesheet" type="text/css" media="all" href=`${css}`)
    link(rel='alternate' type='application/rss+xml' title=`${site.title}` href='/index.xml')
    title #{site.title}#{post ? ' | ' + post.title() : ''}
  body
    #wrap
      header.root
        h1
          a(href='/') #{site.title}
        h2 #{site.description}
      aside#sidebar
        section#profile
          a(href='https://github.com/davemo' title="David Mosher's Github")
            img.profile_image(src='/img/davemo.headphones.png' alt='David Mosher')
          p Programmer, Designer, UX&apos;er, Hacker, Musician, Artist ... wearer of many hats 🤓
          .icons
            a.icon.github(href='https://github.com/davemo' title='davemo on github')
            a.icon.linkedin(href='https://linkedin.com/in/dmosher' title='dmosher on linkedin')
            a.icon.twitter(href='https://twitter.com/dmosher' title='dmosher on twitter')
            a.icon.youtube(href='https://youtube.com/davidmosher' title='davidmosher on youtube')
        nav
          a(href='/') homepage
          a(href='/archive.html') blog archives
      | !{yield}
      footer.root &copy; #{new Date().getFullYear()} - #{site.author}
    script(type='text/javascript' src=`${js}`)
