doctype html
html

  head
    link(rel="stylesheet" type="text/css" media="all" href=`${css}`)
    link(rel='alternate' type='application/rss+xml' title=`${site.title}` href='/index.xml')
    title #{site.title}#{post ? ' | ' + post.title() : ''}

  - var theme = post ? `theme-${post.attributes.theme}` : ''

  body(class=`${theme}`)
    #wrap
      header
        a(href='/') #{site.title}
        span.description #{site.description}

      nav
        ul
          li
            a(href='/') homepage
          li
            a(href='/archive.html') archive

        //- the Archive isnt a post or page
        if post
          #older-newer
            if site.newerPost(post)
              .newer
                a(href=`/${site.newerPost(post).htmlPath()}`) newer
            if site.olderPost(post)
              .older
                a(href=`/${site.olderPost(post).htmlPath()}`) older

      | !{yield}

      #sidebar
        .profile_image
          img(src='/img/davemo.headphones.png' alt='David A. Mosher')
        p
          | David Mosher is a Canadian Software Developer, Designer, Musician, and Artist.
        .icons
          a.icon.github(href='https://github.com/davemo' title='davemo on github')
          a.icon.linkedin(href='https://linkedin.com/in/dmosher' title='dmosher on linkedin')
          a.icon.twitter(href='https://twitter.com/dmosher' title='dmosher on twitter')
          a.icon.youtube(href='https://youtube.com/davidmosher' title='davidmosher on youtube')

      footer
        | &copy; 2007–#{new Date().getFullYear()} #{site.author}

    script(type='text/javascript' src=`${js}`)