doctype html
html(lang="en")

  - var tagline = `${site.author} | Canadian Software Developer, Designer, Musician, and Artist`
  - function getDescription() {
  -   return site.mode == 'index' ? tagline : post && (post.attributes.description || post.title())
  - }
  - function getPosition() {
  -   if(!site.newerPost(post)) { return 'start' }
  -   if(!site.olderPost(post)) { return 'end' }
  -   return 'middle';
  - }

  head
    title
      if site.mode == 'index'
        | #{tagline}
      else if site.mode == 'archive'
        | #{site.author} | All Posts
      else if site.mode == 'page'
        | #{site.author} | #{page.title()}
      else
        | #{post.title()}

    if site.canonical
      link(rel="canonical" href=`${site.canonical}`)

    link(rel="stylesheet" type="text/css" media="all" href=`${css}`)
    link(rel='alternate' type='application/rss+xml' title=`${tagline}` href='/index.xml')
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#00aba9")
    meta(name="theme-color" content="#ffffff")

    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" property="og:description" content=`${getDescription()}`)
    meta(name="theme-color" content="#bf5600")
    meta(name="author" content=`${site.author}`)
    if site.mode == 'post' || site.mode == 'index'
      meta(name="date" content=`${post.time()}`)
      meta(name="article:published_time" content=`${post.time()}`)
      meta(name="article:modified_time" content=`${post.time()}`)
      meta(name="twitter:title" content=`${post.title()}`)
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@dmosher")
    meta(name="twitter:creator" content="@dmosher")
    meta(name="twitter:description" content=`${getDescription()}`)

  body
    #wrap
      #layout
        header
          a(href='/') blog.davemo.com
          span.description thoughts on software, music, art, and meaning.

        nav
          a#logo(href='/')
          ul
            li
              a(href='/archive.html') archive
            li
              a(href='/') homepage
            li
              a(href='/screencasts.html') screencasts
            li
              a(href='/talks.html') talks

          if site.shownav
            #older-newer(class=`${getPosition()}`)
              if site.newerPost(post)
                .newer
                  a(href=`/${site.newerPost(post).htmlPath()}`) newer
              if site.olderPost(post)
                .older
                  a(href=`/${site.olderPost(post).htmlPath()}`) older

        | !{yield}

        #sidebar
          .profile_image
            img(src='/img/davemo.upscaled.png' alt='David A. Mosher')
          .icons
            a.icon.github(href='https://github.com/davemo' title='davemo on github')
            a.icon.linkedin(href='https://linkedin.com/in/dmosher' title='dmosher on linkedin')
            a.icon.twitter(href='https://twitter.com/dmosher' title='dmosher on twitter')
            a.icon.youtube(href='https://youtube.com/davidmosher' title='davidmosher on youtube')
          p(style="text-align: right;")
            | David Mosher is a Canadian Software Developer, Designer, Musician, and Artist.

        footer
          | &copy; 2007–#{new Date().getFullYear()} #{site.author}

    script(type='text/javascript' async src=`${js}`)