doctype html
html
  head
    link(rel="stylesheet" type="text/css" media="all" href=`${css}`)
    link(rel='alternate' type='application/rss+xml' title=`${site.title}` href='/index.xml')
    title #{site.title}#{post ? ' | ' + post.title() : ''}
  body
    #wrap
      header.root
        h1
          a(href='/') #{site.title}
        h2 #{site.description}
      aside#sidebar
        section#profile
          h1
            a(href='http://github.com/davemo' title="David Mosher's Github")
              img.profile_image(src='/img/davatar.jpg' alt='David Mosher')
          p Programmer, Designer, UX&apos;er, Hacker, Musician, ... wearer of many hats
          a(href='http://github.com/davemo') @davemo on github
        nav
          a(href='/') home&nbsp;
          a(href='/archive.html') archives
      | !{yield}
      footer.root  Copyright #{site.author}, #{new Date().getFullYear()}.
    script(type='text/javascript' src=`${js}`)
