doctype html
html(lang="en")
  head
    title blog: david mosher#{post ? ' | ' + post.title() : ' | Archive'}
    link(rel="stylesheet" type="text/css" media="all" href=`${css}`)
    link(rel='alternate' type='application/rss+xml' title=`${site.title}` href='/index.xml')
    meta(name="viewport" content="width=device-width")
    meta(name="description" content=`${post && (post.attributes.description || post.title() + ' from David Mosher') || 'Archive of Blog Posts from blog.davemo.com'}`)
    meta(name="theme-color" content="#bf5600")

  - var theme = post ? `theme-${post.attributes.theme}` : ''
  - function shouldShowNavFor(post) {
  -   return post && post.htmlPath().startsWith('posts/');
  - }

  body(class=`${theme}`)
    #wrap
      header
        a(href='/') #{site.title}
        span.description #{site.description}

      nav
        ul
          li
            a(href='/archive.html') archive
          li
            a(href='/') homepage
          li
            a(href='/screencasts.html') screencasts
          li
            a(href='/talks.html') talks

        //- the Archive isnt a post or page
        if shouldShowNavFor(post)
          #older-newer
            if site.newerPost(post)
              .newer
                a(href=`/${site.newerPost(post).htmlPath()}`) newer
            if site.olderPost(post)
              .older
                a(href=`/${site.olderPost(post).htmlPath()}`) older

      | !{yield}

      #sidebar
        .profile_image
          img(src='/img/davemo.headphones.png' alt='David A. Mosher')
        p
          | David Mosher is a Canadian Software Developer, Designer, Musician, and Artist.
        .icons
          a.icon.github(href='https://github.com/davemo' title='davemo on github')
          a.icon.linkedin(href='https://linkedin.com/in/dmosher' title='dmosher on linkedin')
          a.icon.twitter(href='https://twitter.com/dmosher' title='dmosher on twitter')
          a.icon.youtube(href='https://youtube.com/davidmosher' title='davidmosher on youtube')

      footer
        | &copy; 2007–#{new Date().getFullYear()} #{site.author}

    script(type='text/javascript' src=`${js}`)